.site-header{
    border-bottom: 1px solid #478bcf47;
}
.dashboardNav:nth-last-of-type(1) > a{
    border-bottom: 2px solid var(--Blue);
}
.dashboardNav:nth-last-of-type(2) > a{
    border-bottom: none !important;
}
.containerLearning{
    display: block;
    background-color: #478bcf16;
    padding: 0;
}
.contentLearning{
    display: flex;
    min-height: 100vh;
    min-width: 100vw !important;
}
.containerSidebar{
    min-height: 100vh;
    border-right: 1px solid #478bcf39;
    min-width: 250px;
    background-color: var(--darkModeColorW);
    height: max-content;
}
.containerSidebar > div{
    position: sticky;
    top: 80px;
}
.contentSidebar{
    position: relative;
    color: var(--Blue);
    gap: 40px;
    padding: 10px 40px 40px 40px;
    background: var(--darkModeColorW) url('/assets/flat-university-concept.png') no-repeat;
    background-size: cover;
    background-position: 50% 15%;
}
.contentSidebar > i{
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.contentSidebar > h1{
    font-size: 1.8rem;
}
.containerSidebar ul{
    margin-top: 10px;
}
.containerSidebar ul li{
    list-style-type: none;
}
.containerSidebar ul li a{
     text-decoration: none;
     color: var(--Blue);
     display: flex;
     align-items: center;
     gap: 5px;
     padding: 10px 40px;
     text-wrap: nowrap;
     transition: all 0.5s ease-in-out;
}
.containerSidebar ul li a:hover{
    background-color: #478bcf39;
    border: 1px solid #478bcf72;
}
.iconSidebar{
    font-size: 30px;
}
.containerContentL{
    width: 100%;
}
.containerContentL > p{
    width: 100%;
    padding: 20px 40px;
    color: #478bcf98;
}
.menuLearning{
    margin: 0px 40px 20px;
    display: flex;
    gap: 20px;
    width: max-content;
    border-radius: 5px;
    padding: 5px;
}
.menuLearning > button{
    padding: 10px 20px;
    border: none;
    color: var(--Blue);
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
}
.activeBtn1{
    background-color: var(--darkModeColorW) !important;
    border: 1px solid var(--Blue) !important;
}
.contentButton1, .contentButton2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--darkModeColorW);
    margin: 0px 40px;
    padding: 40px;
    border-radius: 10px;
}
.cardBtn1,.cardBtn2{
    display: flex;
    justify-content: space-between;
    border: 1px solid #478bcf47;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.cardBtn1:hover .itemsBtn1-2>a,.cardBtn2:hover .itemsBtn2-2>a{
    transform: translateX(0);
}
.itemsBtn2-1 > div,.itemsBtn1-1 > div {
    display: flex;
    align-items: center;
    width: 80%;
    height: 10px;
    padding: 2px;
    border-radius: 10px;
    background-color: #478bcf47;
    margin-top: 20px;
    position: relative;
}
.range{
    height: 100%;
    background-color: var(--Blue);
    border-radius: 10px;
    max-width: calc(100% - 35px);
}
.itemsBtn1-1, .itemsBtn2-1{
    width: 70%;
    color: var(--darkModeColorB);
}
.circleBtn1,.circleBtn2{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #c9ddf0;
    display: flex;
    align-items: center;
    right: 0;
    font-size: 12px;
    justify-content: center;
    font-weight: 900;
    color: var(--Blue);
    border-radius: 100%;
}
.itemsBtn1-2 > a, .itemsBtn2-2 > a{
    display: inline-block;
    text-decoration: none;
    background-color: var(--Blue);
    padding: 10px 20px;
    color: var(--white);
    border-radius: 5px;
    transform: translateX(140px);
    transition: all 0.5s ease-in-out;
}
.itemsBtn1-2 > a:hover, .itemsBtn2-2 > a:hover{
    outline: 2px solid var(--white);
    outline-offset: -5px;
}

.contentButton2{
    
}
@media screen and (max-width: 1136px) {
    .containerContentL > p{
        padding-left: 2vw;
    }
    .menuLearning,.contentButton1, .contentButton2 {
        margin-left: 2vw;
    }
    .itemsBtn1-1 > h2,.itemsBtn2-1 > h2{
        font-size: 1rem;
    }
    .contentButton1, .contentButton2{
        padding: 20px;
    }
    .cardBtn1,.cardBtn2{
        padding: 10px;
    }
    .menuLearning{
        gap: 0px;
        padding: 0px;
    }
}
@media screen and (max-width: 600px) {
    .containerContentL{
        min-width: 90vw;
    }
    .contentLearning{
        padding: 0;
    }
    .menuLearning{
        width: 78vw;
    }
    .menuLearning > button{
        text-wrap: wrap !important;
    }
    .cardBtn1, .cardBtn2{
        flex-wrap: wrap;
        gap: 30px;
    }
    .itemsBtn1-2 > a, .itemsBtn2-2 > a{
        transform: translateX(0);
    }
    .itemsBtn1-2, .itemsBtn12-2, .itemsBtn1-1, .itemsBtn12-1{
        min-width: 100%;
    } 
    .itemsBtn1-2, .itemsBtn12-2{
       display: flex;
       justify-content: center;
    }
    .containerSidebar > div ul li a{
        padding: 10px;
    }
    .contentSidebar{
        position: relative;
        color: var(--Blue);
        gap: 40px;
        padding: 10px 20px 20px 20px;
        background-size: cover;
        background-position: 50% 15%;
    }
    .contentSidebar > i{
        background-color: var(--darkModeColorW);
        border-radius: 100%;
    }
}