.main-content {
    margin-top: 10px;

}

.containerMain1 {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.content1-containerMain1>img, .content2-containerMain1>img {
    width: 250px;
}

.content1-containerMain1>div {
    margin-top: -50px;
    color: var(--Blue);
    padding-left: 60px;
}

.content1-containerMain1>div h2 {
    font-size: 2rem;
}

.content1-containerMain1>div p {
    max-width: 90%;
    padding: 10px 0;

}

.content1-containerMain1>div a {
    display: inline-block;
    text-decoration: none;
    color: var(--lightBlue);
    font-weight: bold;
    border: 2px solid var(--lightBlue);
    text-wrap: nowrap;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    transition: all 0.5s ease;
}

.content1-containerMain1>div a:hover {
    background-color: var(--lightBlue);
    color: var(--darkModeColorW);
}

.content2-containerMain1 {
    position: relative;
}

.content2-containerMain1>img {
    position: absolute;
    right: 0;
    z-index: -1;
}

.content2-containerMain1>div {
    margin: 45px 85px 0 0;

}

.divContent2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 140px;
    position: absolute;
    top: 60px;
}

.divContent2>div {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    background-color: var(--white);
    padding: 5px 15px 5px 5px;
    border-radius: 5px;
    border: 1px solid var(--Blue);
    box-shadow: 0px 10px 10px #00000027;
    color: var(--black);
    gap: 5px;
    animation: flyUp 5s ease-in-out infinite;
}

.divContent2>div:nth-child(2), .divContent2>div:nth-child(4) {
    margin-left: 50px;

}

.divContent2>div>div {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.divContent2>div:nth-child(1)>div {
    background-color: #d23333;
}

.divContent2>div:nth-child(2)>div {
    background-color: var(--Blue);
}

.divContent2>div:nth-child(3)>div {
    background-color: var(--lightBlue);
}

.divContent2>div:nth-child(4)>div {
    background-color: #e0a632;
}

@keyframes flyUp {
    50% {
        transform: translateY(-10px) scale(1.10);
        opacity: 0.80;
    }

}

.containerMain2 {
    margin-top: 40px;
    position: relative;
}

.triangle {
    border-top: 300px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 300px solid var(--Blue);
    position: absolute;
    margin-top: -50px;
    z-index: -1;
    top: -50px;
}

.containerMain2 .triangle:nth-child(1) {
    left: 0;
}

.containerMain2 .triangle:nth-child(2) {
    right: 0;
    border-right: 300px solid var(--Blue);
    border-left: unset;
}

.content1-main2 {
    background-color: var(--Blue);

}

.content1-main2>p {
    font-size: 1.3rem;
    color: var(--white);
    text-align: center;
    padding: 10px 0 20px;
    border-bottom: 20px solid var(--darkModeColorW);
    font-weight: lighter;
}

.containerAutoSlide {
    display: flex;
    justify-content: center;
}

.containerScroll {
    position: relative;
    overflow: hidden;
    width: 80vw;
    padding: 40px 20px 40px;
    border-left: 20px solid var(--Blue);
    border-right: 20px solid var(--Blue);
    overflow: hidden;
    border-top: 40px dashed var(--Blue);
    margin-top: -40px;
    box-shadow: -20px 40px 0px var(--darkModeColorW), 20px 40px 0px var(--darkModeColorW);
}

.contentScroll {
    display: flex;
    position: relative;
    align-items: center;
    left: 0;
}

.item {
    background-color: var(--white);
    padding: 20px 60px;
    border-radius: 20px;
    margin-left: 20px;
}

.containerMain3 {
    margin-top: 120px;
    background: url('../assets/Group\ 7.png');
    background-size: 100% 100%;
    min-height: 500px;
    background-repeat: no-repeat;
}

.contentMain3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 240px 0px;
    transition: all 1s ease;
}

.contentMain3>div h3 {
    font-size: 2rem;
    color: var(--white);
}

.divMain3-1 div p {
    padding: 0px 10%;
    margin-top: 5px;
    color: var(--white);
}

.divMain3-1 {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.divMain3-1>div:nth-child(1) {
    min-width: 100%;
    min-height: 300px;
    background: var(--Blue) url('../assets/newProgram.png');
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: luminosity;
    background-size: 100% 140%;
    transition: all 1s ease;
    border-bottom: 10px solid var(--white);
    border-radius: 10px;
}

.contentMain3:hover .divMain3-1>div:nth-child(1) {
    background-blend-mode: normal;
}

.divMain3-2 {
    position: relative;
    width: 50%;
}

.containerSlide {
    position: relative;
    overflow-x: hidden;
    transition: all 1s ease;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

.containerSlide::-webkit-scrollbar {
    width: 0;

}

.buttonLeftSlide, .buttonRightSlide {
    width: max-content;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.buttonLeftSlide {
    right: 50px;
}

.contentSlide {
    margin-top: 60px;
    display: flex;
    position: relative;
    left: 0;
}

.cardSlide {
    min-width: max-content;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: var(--darkModeColorW);
    color: var(--darkModeColorB);
    margin-left: 20px;
    border-radius: 10px;
    padding-right: 10px;
    outline: 2px solid var(--white);
}

.cardSlide>img {
    width: 200px;
    object-fit: fill;
    border-radius: 10px;
    margin-right: 10px;
}

.cardSlide>div>p {
    text-wrap: wrap;
    width: 400px;
}

.containerMain4 {
    margin-top: 50px;
}

.cardMain4-1 {
    text-align: center;
    color: var(--Blue);
}

.cardMain4-1>h3 {
    font-size: 2rem;
}

.contentMain4 {
    max-width: 1220px;
    transition: all 1s ease;
    width: 60vw;
}

.cardMain4-1>p {
    color: var(--darkModeColorB);
    padding: 5px 15%;
}

.cardMain4-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.containerDropList {
    background-color: #478bcf19;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    list-style-type: none;
    outline: 2px solid var(--white);
}

.containerDropList>li {
    position: relative;
    padding-left: 20px;
}

.containerDropList>li::after {
    content: "\2713";
    position: absolute;
    top: 20px;
    padding: 0px 5px;
    border-radius: 100%;
    left: 0;
    color: var(--white);
    font-weight: 900;
    background-color: var(--Blue);
    border: 4px dashed var(--white);
}

.btnShowHideDropList {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    color: var(--darkModeColorB);
    padding: 20px;
    cursor: pointer;
}

.btnShowHideDropList>i {
    color: var(--Blue);
}

.showHideDropList {
    color: var(--darkModeColorB);
    padding: 0px 20px;
}

.imgDropList {
    width: 500px;
}
.containerMain5{
    margin-top: 40px;
}
.contentMain5{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cardMain5-1{
    text-align: center;
}
.cardMain5-1 h2{
    color: var(--Blue);
    font-size: 2rem;
}
.cardMain5-1 > p{
    padding: 0px 25%;
    color: var(--darkModeColorB);
}
.cardMain5-2, .cardMain5-3{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-top: 20px;
}
.cardMain5-2 > div, .cardMain5-3 > div{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    transition: all 0.5s ease;
    background-color: var(--white);
}
.cardMain5-2 > div:hover, .cardMain5-3 > div:hover{
    box-shadow: 0px 5px 5px #e5e5e5;
}
.cardMain5-2  img{
    width: 200px;
}
.cardMain5-3{
    margin-top: 30px;
}
.cardMain5-3 > div{
 display: flex;
 align-items: center;   
 padding: 5px 50px;
 border-radius: 5px;

}
.cardMain5-3 div img{
    height: 35px;
    object-fit: contain;
}

.containerMain6{
    margin-top: 20px;
}
.contentMain6{
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--Blue);
    outline: 2px solid var(--white);
    border-radius: 20px;
    overflow: hidden;
}

.cardMain6-1{
    padding-left: 60px;
    color: var(--white);
    z-index: 1;

}
.StyleMain6{
    position: absolute;
    top:0px;
    bottom: 0;
    min-width: 300px;
   
    z-index: 0;
    border-radius: 100%;
}

.StyleMain6{
    position: absolute;
    top: -100px;
    left: -100px;
    min-width: 400px;
    min-height: 400px;
    background-color: #276baf6c;
    z-index: 0;
    border-radius: 100%;
}
.contentMain6 .StyleMain6:nth-child(2){
min-width: 700px;
height: 600px;
}
.cardMain6-1 h2{
    font-size: 2rem;
    font-weight: 700;
    width: 60%;
}
.cardMain6-1 p{
    margin-top: 10px;
    width: 80%;
}
.cardMain6-1 a{
    display: inline-block;
    color: var(--white);
    text-decoration:  none;
    margin-top: 20px;
    background-color: var(--lightBlue);
    border-radius: 10px;
    padding: 5px 30px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    transition: all 0.5s ease;
}
.cardMain6-1 a:hover{
    scale: 1.05;
}
.cardMain6-1 > a i{
    font-size: 40px;
}
.containerScrollUp{
    position: relative;
    overflow: hidden;
}
.contentScrollUp{
    position: relative;
    display: flex;
    top: 0;
    height: 420px;
    flex-direction: column;
    right: -20px;
}
.cardScrollUp{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.cardScrollUp:nth-child(2n+0){
    transform: translateX(10%);
}
.divScrollUp{
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--darkModeColorW);
    overflow: hidden;
    margin-left: 20px;
    border: 2px solid var(--white);
    outline: 1px solid var(--white);
    outline-offset: -10px;
    transition: all 0.5s ease;
}
.divScrollUp:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px #0000002f;
}
.divScrollUp > div{
    height: 120px;
}
.divScrollUp > div:nth-child(1){
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, var(--darkModeColorW) 40%, #ffffff12)
}
.divScrollUp > div > p{
    max-width: 60%;
    padding: 20px;
    font-weight: 600;
    color: var(--Blue);
}
.divScrollUp > div img{
    margin-left: 60px;
    padding-left: 60px;
    width: 300px;
    height: 100%;
    object-fit: fill;
}

.containerMain7{
    margin-top: 40px;
    background-color: #478bcf19;
    padding: 20px 20px 40px;
}
.contentMain7{
   position: relative;
}

.btnTestimonial{
    position: absolute;
    right: -2px;
    top: -11px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--darkModeColorW);
    padding: 10px 40px;
    border-radius: 10px 10px 0px 0px;
    z-index: 1;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
}
.btnTestimonial> div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid var(--Blue);
    cursor: pointer;
}
.btnTestimonial>div > i {
    font-size: 40px;
    color: var(--Blue);
}
.contentMain7> h2{
    font-size: 2rem;
    color: var(--Blue);
}
.containerTestimonial{
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    outline: 2px solid var(--white);
    border-radius: 10px 0px 10px 10px;
}
.contentTestimonial{
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    color: var(--darkModeColorB);
}
.cardTestimonial{
    position: relative;
    display: flex;
    background-color: var(--darkModeColorW);
    padding: 20px;
    left: 0;
    border-radius: 10px;
    min-width: 100%;
    
}
.cardTestimonial>div:nth-child(1){
    padding: 40px 40px 0px 40px;
}
.cardTestimonial>div:nth-child(2){
    position: relative;
    background-color: var(--Blue);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 20px;
    overflow: hidden;
    min-width: 40%;
    box-shadow: inset -40px 40px 80px var(--lightBlue);
}
.cardTestimonial>div:nth-child(2)::after{
    position: absolute;
    content: "";
    left: -50%;
    bottom: 20%;
    min-width: 150%;
    min-height: 100px;
    background-color: #276baf71;
    transform: rotateZ(70deg);
}
.cardTestimonial>div:nth-child(2) b{
    position: absolute;
    right: -65%;
    bottom: 30%;
    min-width: 150%;
    min-height: 100px;
    background-color: #276baf71;
    transform: rotateZ(70deg);
}
.cardTestimonial>div:nth-child(2)::before{
    position: absolute;
    content: "";
    right: -30%;
    bottom: 40%;
    min-width: 150%;
    min-height: 100px;
    background-color: #276baf71;
    transform: rotateZ(-80deg);
}
.cardTestimonial > div img{
    max-height: 300px;
    min-width: 400px;
    object-fit: scale-down;
    z-index: 1;
}
.cardTestimonial > div:nth-child(1){
    font-size: 1.5rem;
}
.paginationTestimonial{
    position: absolute;
    bottom: 10px;
    display: flex;
    padding-left: 25%;
    align-items: center;
    border-radius: 10px;
    width: 50%;
}
.contentPagination{
    color: var(--Blue);
    font-weight: bold;
    
}
.nameTestimonial{
    margin-top: 20px;
}

.classTestimonial{
    margin-bottom: 30px;
}
.cardTestimonial>div:nth-child(1) div {
    padding: 20px 0px;
    border-top: 2px solid #478bcf2b;
    display: flex;
    justify-content: end;
}

.cardTestimonial>div:nth-child(1) div a{
    text-decoration: none;
    color: var(--Blue);
    display: flex;
    align-items: center;
}
.readMorTes{
    font-size: 1rem !important;
}
@media screen and (max-width: 1650px) {
    
    .divMain3-1>div:nth-child(1) {
        min-height: 200px;
    }
    .cardSlide {
        min-width: 90%;
        height: unset;
        padding: 20px;
    }
    
    .cardSlide>img {
        width: 150px;
    }
    
    .cardSlide>div>p {
        width: unset;
    }
    
}
@media screen and (max-width: 1136px) {
    .containerMain1{
        gap: 20px;
    }
    .content1-containerMain1>div h2 {
        font-size: 1.5rem;
    }
    .content1-containerMain1>img, .content2-containerMain1>img {
        width: 150px;
    }
    .content2-containerMain1 >div > img{
        width: 470px;
    }
    .content2-containerMain1>div {
        margin: 45px 55px 0 0;
    
    }
    .divContent2 {
        grid-gap: 130px;
    }
    .divContent2>div {
        text-wrap: wrap;
        padding: 5px;
        gap: 5px;
    }
    .divContent2>div>div {
        padding: 5px;
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
    .divContent2>div:nth-child(2), .divContent2>div:nth-child(4) {
        margin-left: 0px;
    
    }
    .cardSlide div > h4{
        margin-top: 10px;
    }
    .contentMain3{
        flex-direction: column;
    }
    .divMain3-2 {
        margin-top: 10px;
        position: relative;
        width: 100%;
    }
    .divMain3-1>div:nth-child(1) {
        min-height: 200px;
    }

    /* ======== */
    .cardMain4-2{
        align-items: end;
        gap: 10px;
    }
    .imgDropList {
        width: 300px;
    }
    .cardMain4-2 > div:nth-of-type(2){
        max-width: max-content;
    }
    .contentMain4 {
        width: 80vw;
    }
    .cardMain5-1 > p{
        padding: 0px 10%;
    }
    .cardMain5-2, .cardMain5-3{
        gap: 10px;
    }
    .cardMain5-2  img{
        width: 150px;
    }
    .cardMain5-3 > div{
        padding: 5px 20px;
    }
    
    .cardMain6-1{
        padding: 20px;
        min-width: 300px;
        
    }
    .cardMain6-1 h2{
        width: unset;
    }
    .cardMain6-1 p{
        width: unset;
    }
    .cardMain6-1 a{
        margin-top: 10px;
        padding: 5px 20px;
        gap: 5px;
    }
    .cardMain6-1 > a i{
        font-size: 30px;
    }
    .contentScrollUp{
        right: 0px;
    }
    .cardScrollUp{
        margin-bottom: 10px;
    }
    .divScrollUp{
        margin-left: 10px;
    }
    .divScrollUp > div{
        height: 100px;
    }
    .divScrollUp > div img{
        width: 200px;
    }
    /* =================================== */

    .btnTestimonial{
        gap: 10px;
        padding: 10px 20px;
    }
    .contentMain7> h2{
        font-size: 2rem;
        color: var(--Blue);
    }
    
    .cardTestimonial>div:nth-child(1){
       padding: 20px;
       padding-bottom: 0px;
    }
    .cardTestimonial>div:nth-child(2){
        height: 320px;
    }
    .cardTestimonial > div:nth-child(1){
        font-size: 1rem;
    }
    
    .classTestimonial{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 600px) {
    .cardMain6-1{
        min-width: 100%;
    
    }
    .content2-containerMain1>div {
        margin: 20px 30px 0 0;
    
    }
    .containerMain1{
        flex-direction: column-reverse;
        align-items: center;
    }
    .content2-containerMain1 >div > img{
        max-width: 310px;
    }
    .divContent2 {
        padding: 0px 10px;
        margin-top: -25px;
        grid-gap: 90px;
    }
    .divContent2>div>div {
        padding: 2px;
        width: 25px;
        height: 25px;
        font-size: 15px;
    }
    .divContent2 > div > p{
        font-size: 0.8rem;
    }
    .content1-containerMain1>div>div{
        display: flex;
        justify-content: center;
        width: 80%;
    }
    .divContent2>div:nth-child(2), .divContent2>div:nth-child(4) {
        margin-left: 0px;
    
    }
    .content1-main2>p {
        font-size: 1rem;
    }
    .containerScroll {
        width: 90vw;
        overflow: hidden;
        border-top: 20px dashed var(--Blue);
        margin-top: -20px;
        box-shadow: -10px 20px 0px var(--darkModeColorW), 10px 20px 0px var(--darkModeColorW);
    }
    .item {
        padding: 5px 20px;
        border-radius: 10px;
        margin-left: 20px;
    }

    .divMain3-1, .divMain3-2{
        background-color: var(--Blue);
        padding: 20px 0px;
    }
    .cardSlide{
        flex-direction: column;
    }
    .cardSlide >img{
        width: 80%;
        height: 100%;
    }

    .cardMain4-2{
        flex-direction: column-reverse;
        align-items: center;
    }
    .imgDropList {
        width: 300px;
    }
    .cardMain4-2 > div:nth-of-type(2){
        max-width: max-content;
    }
    .contentMain4 {
        width: 95vw;
    }
    .cardMain4-1 > p{
        padding: 5px;
    }

    .cardMain5-1 > p{
        padding: 0px;
    }
    .cardMain5-2, .cardMain5-3{
        gap: 5px;
        flex-wrap: wrap;
    }
    .cardMain5-2  img{
        width: 150px;
    }
    .cardMain5-3 > div{
        padding: 5px 10px;
    }
    /* ============= */
    .contentMain7{
        padding: 0px;
        min-width: 100vw;
        padding: 0px 20px;
    }
    .containerTestimonial{
        margin-top: 0px;
    }
    .cardTestimonial{
        flex-wrap: wrap-reverse;
    }
    .cardTestimonial> div{
        width: 100%;
    }
    .cardTestimonial>div:nth-child(2){
        height: 280px;
    }
    .cardTestimonial > div img{
        max-height: 250px;
        min-width: 250px;
        object-fit: scale-down;
        z-index: 1;
    }
    .contentMain7 > div:nth-of-type(1){
        display: flex;
        justify-content: right;
    }
    .btnTestimonial{
        position: relative;
        margin-top: 20px;
        top: 0;
    }
    
}