.showHideNav{
    border-bottom: unset !important;
}
.showHideNav:nth-of-type(3){
    border-bottom: 2px solid var(--Blue) !important;
}
.listSubscribe li:nth-of-type(1){
    background-color: #478bcf3a;
}
.containerToken1 {
    min-height: 100vh;
    align-items: start;
}

.containerSubFee1 {
    padding: 2vw 0;
    background-color: var(--Blue);
    overflow: hidden;
    position: relative;
    min-height: 240px;
    text-align: center;
    color: var(--white);
}

.containerSubFee1::after {
    content: "";
    position: absolute;
    min-width: 45vw;
    min-height: 200px;
    background-color: var(--darkModeColorW);
    bottom: -100px;
    left: 0;
    border-radius: 100%;
}

.containerSubFee1::before {
    content: "";
    position: absolute;
    min-width: 45vw;
    min-height: 200px;
    background-color: var(--darkModeColorW);
    bottom: -100px;
    right: 0;
    border-radius: 100%;
}

.contentSubFee1::after {
    content: "";
    position: absolute;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 60px solid var(--darkModeColorW);
    left: calc(50% - 10vw);
    margin-top: 20px;
}

.contentSubFee2 {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 100%;
    z-index: 1;
    background-color: var(--Blue);
    height: 100%;
    margin-top: -100px;
}
.contentSubFee2::after{
    content: "";
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 40px;
    right: 40px;
    background-color: var(--darkModeColorW);
    z-index: -1;
    border-radius: inherit;
    outline: 30px solid var(--darkModeColorW);
    outline-offset: 20px;
}

.cardSubFee2, .cardSubFee32{
    position: relative;
    outline: 10px solid var(--darkModeColorW);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 300px;
    padding: 20px 3vw;
    border-radius: 10px;
    color: var(--white);
    transition: all 0.5s ease-in-out;
    gap: 20px;
}

.cardSubFee2>div h3,  .cardSubFee32 > div h3 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.cardSubFee2>div p, .cardSubFee32> div p {
    text-align: center;
}

.cardSubFee2>div h3 i,  .cardSubFee32> div i {
    font-size: 0.8rem;
    font-weight: 500;
}

.cardSubFee2>div, .cardSubFee32> div {
    z-index: 1;
}

.cardSubFee2 div>ul,  .cardSubFee32 div > ul {
    padding: 10px;
    min-width: 260px;
    z-index: 1;
    box-shadow: 0px -10px 10px rgba(29, 43, 73, 0.24);
    border-radius: 10px;
}

.cardSubFee2 div>ul li,   .cardSubFee32> div> ul li{
    margin-left: 10px;
    list-style-type: none;
    display: flex;
    align-items: start;
    gap: 5px;
}
.cardSubFee2 div>ul li i,.cardSubFee32> div> ul li i{
    font-size: 20px;
}

.cardSubFee2 div>ul li:not(:nth-of-type(1)), .cardSubFee32> div> ul li:not(:nth-of-type(1)) {
    margin-top: 10px;
}

.cardSubFee2::after, .cardSubFee32::after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    border-radius: 10px;
    filter: blur(6px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.cardSubFee2:hover::after, .cardSubFee32:hover::after {
    opacity: 0.5 !important;
}

.cardSubFee2:hover,.cardSubFee32:hover {
    scale: 1.01;
}

.basicPlan {
    background-image: linear-gradient(160deg, #0093E9 0%, #c9d1d9 100%);
}

.basicPlan::after {
    background-image: linear-gradient(160deg, #0093E9 0%, #c9d1d9 100%);
}

.proPlan {
    background-image: linear-gradient(160deg, #0093E9 0%, #8db1de 100%);

}

.proPlan::after {
    background-image: linear-gradient(160deg, #0093E9 0%, #8db1de 100%);

}

.premiumPlan {
    background-image: linear-gradient(160deg, #0093E9 0%, #d0d080 100%);
}

.premiumPlan::after {
    background-image: linear-gradient(160deg, #0093E9 0%, #d0d080 100%);
}

.itemsSubFee2 {
    position: relative;
    margin-bottom: 40px;
}

.divSubFee2 p {
    margin-bottom: 20px;
    font-size: 1rem;
}
.divSubFee2 p > span{
    font-size: 1.5rem;
    font-weight: 700;
}

.basicPlan > .divSubFee2 > a,.cardSubFee32 >.divSubFee2 > a{
    position: relative;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    overflow: hidden;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(160deg, #0093E9 0%, #c9d1d9 100%);
    background-clip: text;
}
.proPlan > .divSubFee2 > a{
    position: relative;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    overflow: hidden;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(160deg, #0093E9 0%, #8db1de 100%);
    background-clip: text;
}
.premiumPlan > .divSubFee2 > a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    overflow: hidden;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(160deg, #0093E9 0%, #d0d080 100%);
    background-clip: text;
}
.divSubFee2 > a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    z-index: -1;
}
.divSubFee2 a{
    min-width: max-content;
    transition: all 0.5s ease-in-out;
}
.divSubFee2 a:hover{
    outline: 1px solid var(--Blue);
    outline-offset: -4px;
    box-shadow: 0px 5px 5px rgba(29, 43, 73, 0.24);
}
.divSubFee2{
    margin-bottom: 10px;
}
.containerSubFee3{
    margin-top: 20px;
}
.contentSubFee3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardSubFee31{
    text-align: center;
}
.cardSubFee32{
 background-color: var(--lightBlue);   
}
.cardSubFee31 > h1{
    color: var(--Blue);
}
.cardSubFee31>p{
   color: var(--darkModeColorB);
}
.cardSubFee32 >.divSubFee2 > a{
    color: var(--lightBlue);
}
.cardSubFee32::after{
    background: var(--lightBlue);
}
.lineMainT4{
    background-color: var(--Blue);
}
.containerMainT4{
    border-radius: unset;
    background-color: #478bcf1c;
    box-shadow: none;
}
.contentMainT4 > h1{
    color: var(--Blue);
}
.itemMainT4{
    border: 2px solid #e9e9e9;
}
.showAllMainT4 > a{
    color: var(--Blue);
}