.SubsStatus{
    margin: 20px 40px;
    background-color: var(--darkModeColorW);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--darkModeColorB);
}
.SubsStatus > div h3, .divtTitleTrans > h3{
    color: var(--Blue);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.SubsStatus > div h3 i,.divtTitleTrans > h3 i{
    font-size: 30px;
}
.SubsStatus >div a{
    text-decoration: none;
    background-color: var(--Blue);
    padding: 10px 20px;
    color: var(--white);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.SubsStatus >div a:hover{
    scale: 1.05;
    outline: 1px solid var(--Blue);
    outline-offset: 5px;
}
.listTransaction{
    margin: 20px 40px;
    background-color: var(--darkModeColorW);
    padding: 20px;
    border-radius: 10px;
    color: var(--darkModeColorB);
}
.divtTitleTrans {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.divtTitleTrans > p{
    background-color: var(--Blue);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.divtTitleTrans > p i{
    font-size: 20px;
}
.listTransaction table {
    width: 100%;
    border-collapse: collapse;
}
.listTransaction table thead > tr{
    background-color: var(--Blue);
    color: var(--white);
}
.listTransaction table th, .listTransaction table td{
    text-align: left;
    padding: 20px;
}
.listTransaction table tbody tr td{
    border-bottom: 2px solid #478bcf39;
}
.listTransaction table td p{
    background-color: var(--lightBlue);
    color: var(--white);
    padding: 5px 10px;
    display: inline-block;
    border-radius: 10px;
    width: 80px;
    text-align: center;
}
.colorRed{
    background-color: #FF5C5C !important;
}
.listTransaction table td a{
    color: var(--Blue);
}
.divItemSubs{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(160deg, #0093E9 0%, #d0d080 100%);
    width: max-content;
    padding: 5px 20px;
    background-clip: text;
    border: 2px solid;
    border-image: linear-gradient(160deg, #0093E9 0%, #d0d080 100%) 1;

}
.divItemSubs > i{
    font-size: 30px;
}
@media screen and (max-width: 1136px) {
    .SubsStatus, .listTransaction {
        margin-left: 2vw;
        position: relative;
        justify-content: space-between;
    }
    
    .SubsStatus > div:nth-last-of-type(1) {
        min-width: max-content;
    }
    .containerTableSubs {
        width: inherit;
        overflow-x: scroll;
    }
    .listTransaction table th, .listTransaction table td {
        padding: 1vw;
    }
}
@media screen and (max-width: 600px) {
    .divtTitleTrans {
        gap: 1vw;
    }
    .listTransaction, .SubsStatus {
        margin-right: 4vw;
    }
    .SubsStatus {
        flex-direction: column;
        gap: 1vw;
    }
    .SubsStatus >div a{
        margin-top: 20px;
    }
    .SubsStatus > div h3, .divtTitleTrans > h3 {
        font-size: 1rem;
    }
    .divtTitleTrans > p {
        font-size: 1rem;
        padding: 0.5vw;
    }
    .divtTitleTrans > p i {
        font-size: 0.8rem;
    }
}