.showHideNav:nth-of-type(3){
    border-bottom: 2px solid var(--Blue);
}
.listSubscribe li:nth-of-type(2){
    background-color: #478bcf3a;
}
.containerToken1 {
    min-height: 100vh;
    align-items: start;
}

.divIconLogin {
    top: 38%;
    padding: 0 !important;
    width: 35px;
    height: 35px;
    overflow: hidden;
}
.divInputLogin  input{
    background-color: var(--darkModeColorW) ;
    color: var(--darkModeColorB);
}
.divInputLogin label{
    color: var(--colorPalceholder);
}
.imgToken {
    background: var(--Blue) url('/assets/imgToken.png');
    min-width: 115%;
    min-height: 115%;
    padding: 0px;
    border-radius: 100%;
    background-position: 0.8px 0px;
    background-blend-mode: luminosity;
    background-size: cover;
    background-repeat: no-repeat;
}

.contentToken1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--darkModeColorB);
    align-items: center;
    justify-content: center;
}

.contentToken1>div>h1 {
    padding: 20px;
    background: linear-gradient(50deg, var(--Blue) 10%, var(--lightBlue));
    font-size: 2.5rem;
    color: transparent;
    background-clip: text;
    font-weight: 900;
    margin-bottom: 10px;
    animation: gradientAnimation 4.4s infinite alternate;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(50deg, var(--Blue) 10%, var(--lightBlue));
        color: transparent;
        background-clip: text;
    }

    50% {
        background: linear-gradient(50deg, var(--Blue) 10%, var(--lightBlue), var(--Blue));
        color: transparent;
        background-clip: text;
    }

    100% {
        background: linear-gradient(50deg, var(--lightBlue) 10%, var(--Blue));
        color: transparent;
        background-clip: text;
    }
}

.contentToken1>form {
    display: flex;
    align-items: end !important;
    justify-content: center;
    gap: 20px;
}

#SubmitToken {
    padding: 18px 40px;
    color: var(--white);
    background-color: var(--Blue);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
}

#SubmitToken:hover {
    scale: 1.08;
}

.divInputLogin {
    margin: 0 !important;
    min-width: 100%;
    text-align: left;
}

.contentToken1>p {
    padding: 0 20vw;
    margin-bottom: 10px;
}

.contentToken1>p:nth-last-of-type(1) {
    margin-top: 20px;
}


@media screen and (max-width:1136px) {
    .contentToken1>p {
        padding: 0 10vw;
        margin-bottom: 10px;
    }

    .contentToken1>form {
        flex-wrap: wrap;
    }
}
@media screen and (max-width:600px) {
    .contentToken1>div>h1 {
        font-size: 1.5rem;
    }
    .contentToken1>p {
        padding: 0;
        margin-bottom: 10px;
    }
}